[pipelinekt](../../index.md) / [com.code42.jenkins.pipelinekt.internal.step.declarative](../index.md) / [JUnit](index.md) / [testResults](./test-results.md)

# testResults

`val testResults: Str`